#PRACTICAL 3
###Study of list & Various operations on it
##Ayush Phale PRN:25070123028
##EnTC Batch A2

In [2]:
## Python lists
thislist = ["apple", "guava", "watermelon"]
print(thislist)     ##Instead of doubl quotes, single quotes can be used, but preferred - double quotes

['apple', 'guava', 'watermelon']

In [3]:
#Allow Duplicates
thislist = ["apple", "guava", "apple", "watermelon", "guava"]
print(thislist)

['apple', 'guava', 'apple', 'watermelon', 'guava']

In [4]:
list1 = [1,2,'symbi', 54]
list1[0]

1

In [5]:
#List Length
thislist = ["apple", 'guava', 'watermelon']
print(len(thislist))

3

In [6]:
#A list with strings, integers, and boolean values:
list1 = ["abc", 34, True, 40, "female", False]  ##True & False are boolean functions

In [7]:
#Access Items
thislist = ["apple", "cherry", "litchi"]
print(thislist[1])

cherry

In [8]:
#Reverse/Negative Indexing
thislist = ["apple", "chery", "guava"]
print(thislist[-2])

chery

In [9]:
#Slicing
thislist = ["apple", "guava", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [11]:
#Slicing
thislist = ["apple", "guava", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'guava', 'cherry', 'orange']

In [10]:
#Slicing
thislist = ["apple", "guava", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist[-3:-1])

['kiwi', 'melon']

In [12]:
#Slicing
thislist = ["apple", "guava", "cherry","orange", "kiwi", "melon", "mango"]
print(thislist[-3:])

['kiwi', 'melon', 'mango']

In [13]:
#Change Item Value
thislist = ["apple", "banana", "cherry"]
thislist[1] = "blackcurrent"
print(thislist)

['apple', 'blackcurrent', 'cherry']

In [14]:
thislist = ["school", "college", "office"]
thislist[1] = "university"
thislist[2] = "workplace"
print(thislist)

['school', 'university', 'workplace']

In [15]:
#Append Items
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")   #Append means to add it at the end
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [16]:
#Insert Items
thislist = ["apple", "banana", "cherry"]
thislist.insert(2,"orange")
print(thislist)

['apple', 'banana', 'orange', 'cherry']

In [17]:
#Extend List
thislist = ["apple", "banana", "cherry"]
tropical = ["mango","pineappple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineappple', 'papaya']

In [18]:
8 in [3,4,5]

False

In [19]:
list = ('-Symbi')*6
#list1(1,2,3) - this will give error
print(list)

-Symbi-Symbi-Symbi-Symbi-Symbi-Symbi

In [20]:
L = ['spam', 'Spam', 'SPAM']
print(L[0])

spam

In [21]:
numbers = [10, 20, 30, 40, 50]
#Slicing examples
"Elements from index 1 to 3:"
"First three elements: "
"Elements from index 2 onwards: "
"All elements: "

'All elements: '

In [22]:
#Problem Statements
marks = [99,80,78,56,39]
marks1 = max(marks)
print("The highest marks obtained is: ",marks1)
marks2 = min(marks)
print("The lowest marks obtaind is: ",marks2)
marks.sort()      #To arrange in ascending order
print(marks)

The highest marks obtained is:  99
The lowest marks obtaind is:  39
[39, 56, 78, 80, 99]

In [23]:
numbers = [1,2,3,4,5,6]
print(max(numbers))
print(min(numbers))
print(sum(numbers))
print(len(numbers))
numbers.sort()
print(numbers)

6
1
21
6
[1, 2, 3, 4, 5, 6]

In [25]:
#Grocery Shopping List

grocery = ["brinjal", "cauliflower", "onions","potato", "tomato"]
grocery.insert(3,"diet coke")
grocery.append("spices")
grocery.remove("brinjal")
print(grocery)

['cauliflower', 'onions', 'diet coke', 'potato', 'tomato', 'spices']

In [29]:
#Phone Contacts problem statement
#Create a list of contacts, Add a new contact , Delete an exsisting contact , Display contacts
contacts= ["Ayush","Aditya","Anish","Aaryan","Athrav","Shourya"]
contacts.append("Vedang")
contacts.remove("Athrav")
contacts.sort()
print(contacts)

['Aaryan', 'Aditya', 'Anish', 'Ayush', 'Shourya', 'Vedang']

In [40]:
#Temperatures for the first 5 days
temperatures=[29,28,28,25,29,28,27,28,27,28]
print("Temperatures for the first 5 day = ",temperatures[0:5])

#Temperatures for the last 5 days
print("Temperatures for last five days =",temperatures[5:10])

Temperatures for the first 5 day =  [29, 28, 28, 25, 29]
Temperatures for last five days = [28, 27, 28, 27, 28]