#Experiment 7
##Loops
###Ayush Phale PRN: 25070123028

In [1]:
#Print numbers from 1 to 10 (skip 5)

i = 1
while(i<=10):
  if i == 5:
    i+=1
    continue
  print(i)
  i+=1

1
2
3
4
6
7
8
9
10

In [12]:
#Print only odd numbers (1 to 10)

i = 0
while(i<=10):
  i+=1
  if i%2 == 0:
    continue
   # print("1") ????
print(i)
i+=1

11

#For Loop

In [14]:
#Print numbers from 1 to 5

for i in range(1,6):
  print(i)

1
2
3
4
5

In [15]:
#For Loop using Break, Continue and Pass function works same as that of while loop.

In [16]:
#Print even numbers from 1 to 10

for i in range(2,11,2):
  print(i)

2
4
6
8
10

In [17]:
#Sum of first N numbers

n = int(input("Enter N: "))
total = 0

for i in range(1,n+1):
  total += i

print("Sum = ", total)

Enter N: 5
Sum =  15

In [18]:
#Nested for Loop

for i in range(1,4):    #j is the inner loop and i is the outer loop.. inner loop will execute completely and then the outer loop will be executed.
  for j in range(1,4):
    print(i,j)

1 1
1 2
1 3
2 1
2 2
2 3
3 1
3 2
3 3

In [19]:
#Nested for Loop

for i in range(1,4):    #j is the inner loop and i is the outer loop.. inner loop will execute completely and then the outer loop will be executed.
  for j in range(1,4):
    print(j,i)

1 1
2 1
3 1
1 2
2 2
3 2
1 3
2 3
3 3

In [20]:
#2 Dimensional Matrices: -

A = [[1,2,3],
     [4,5,6],
     [7,8,9]]
for i in range(3):
  for j in range(3):
    print(A[i][j], end = " ")  #This is inner for loop
  print() #This is outer for loop

1 2 3
4 5 6
7 8 9

In [21]:
#Multiplication of Two 3x3 Matrices (Most Important)
A = [[1,2,3],[4,5,6], [7,8,9]]
B = [[1,1,1], [6,5,4], [3,2,1]]

Result = [[0,0,0],
          [0,0,0],
          [0,0,0]]

for i in range(3):   #rows of A
  for j in range(3):  #columns of B
    for k in range(3):
      Result[i][j]+=A[i][j]  *  B[k][j]

print("Product of matrices: ")
for row in Result:
  print(row)

Product of matrices:
[10, 16, 18]
[40, 40, 36]
[70, 64, 54]

In [22]:
# Pyhton Program to accept three digits and print all possible combination
d1 = 1
d2 = 2
d3 = 3
d = [d1,d2,d3]
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(d[i]!=d[j] and d[j] != d[k] and d[k] != d[i]):
        print(d[i],d[j],d[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [25]:
#Armstrong Number(153,370,371,407,1643)
num = int(input("Enter a number: "))

total = 0

for digit in str(num):
    total += int(digit) ** len(str(num))

if total == num:
    print("Armstrong Number")
else:
    print("Not Armstrong Number")

Enter a number: 370
Armstrong Number

In [24]:
#print All prime number in given range
for num in range(2,50):
  for i in range(2,num):
    if num % i == 0:
      break
  else:
    print(num)

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47

In [26]:
#INVERTED PYRAMID
n=5
for i in range(n):
  print(i*' ',(n-i)*'$ ')

 $ $ $ $ $
  $ $ $ $
   $ $ $
    $ $
     $

In [27]:
#PYRAMID
n=5
for i in range(n):
  print((n-i)*' ',i*' $')

      $
     $ $
    $ $ $
   $ $ $ $

In [28]:
#FLOLYD'S TRIANGLE
n = 4
num = 1
for i in range(1, n + 1):
  for j in range(1, i + 1):
    print(num, end=' ')
    num += 1
  print()

1
2 3
4 5 6
7 8 9 10

In [29]:
rows =5
for i in range(1, rows+1):
  for j in range(i):
    print(i,end=" ")
  print()

1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [30]:
#RIGTH ANGLED TRIANGLE
for i in range(1,6):
  print("* "*i)

*
* *
* * *
* * * *
* * * * *

In [31]:
#INVERTED RIGTH ANGLE TRIANGLE
for i in range(5,0,-1):
  print("* "*i)

* * * * *
* * * *
* * *
* *
*